.navbar {
	flex-basis: 100%;
	background-color: var(--main-color);
	padding: 15px 2rem;
	display: flex;
	justify-content: space-between;
}

.navbar .logo {
	color: #fff;
	text-transform: uppercase;
}


.nav-link > span:hover{
	color: rgb(117, 199, 199);
}
